@font-face {
  font-family: 'iconfont';  /* project id 2239688 */
  src: url('//at.alicdn.com/t/font_2239688_cm2x4msvprg.eot');
  src: url('//at.alicdn.com/t/font_2239688_cm2x4msvprg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2239688_cm2x4msvprg.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2239688_cm2x4msvprg.woff') format('woff'),
  url('//at.alicdn.com/t/font_2239688_cm2x4msvprg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2239688_cm2x4msvprg.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-fanhui2:before {
  content: "\e60a";
}

.icon-shouye:before {
  content: "\e630";
}

.icon-fenxiang:before {
  content: "\e72f";
}

.icon-tongzhi:before {
  content: "\e61e";
}
.icon-collection-b:before{
  content: "\e60d";

}
.icon-dianhua:before{
  content: "\e62c";

}
.icon-weizhi:before{
  content: "\e600";

}
.icon-erweima:before{
  content: "\e742";

}
.icon-fanhui:before{
  content: "\e615";

}
.icon-cardb:before{
  content: "\e62b";

}
.icon-jia:before{
  content: "\e623";

}



